* {
  font-family: "Courier New", Courier, monospace;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
}

.centered {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

body {
  width: 500px;

  background-color: rgba(0, 0, 0, 0.09) !important;
}

::-webkit-scrollbar{
  width: 12px;
  
}
::-webkit-scrollbar-track{
  background-color: pink;
  margin-block: .3em;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(141, 215, 141);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  background-color: rgb(67, 171, 67);
  
}

h1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
button,.show-zoom-value {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  cursor: pointer;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;

  margin:25px;
  font-size: 16px;
  height: 48px;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-decoration: none;
}

button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

button:hover:after {
  transform: translate(0, 0);
}

button:active {
  background-color: #ffdeda;
  outline: 0;
}

button:hover {
  outline: 0;
}

.select-text-definition {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  margin-left: 10px;
}

@media (min-width: 768px) {
  button {
    padding: 0 40px;
  }
}

#rate-control {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}
.magnifier{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.magnifier button{
  padding:0 25px;
}
.magni-cnt,.magni-cnt button{
  display: flex;
  align-items: center;
}
.magni-cnt button i{
  margin-right: 5px;
}
.show-zoom-value{
  /* width: 60px; */
  /* width: 100%;
  height: auto;
  padding: 20px; */
  padding: 10px 20px;
  margin-right: 0;
}
#magni{
  width: 100%;
}