* {
  font-family: "Courier New", Courier, monospace;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
}


.centered {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.header-options{
  display: flex;
  align-items: center;
}
select{
  margin-left: 1em;
}

.preference,
.preference button {
  text-align:center;
  align-items: center;
}


.images,
.images button {
  text-align:center;
  align-items: center;
}



#about p {
  text-align: justify;
  user-select: none;
  margin: 1em;
}

body {
  width: 500px;
  background-color: rgb(69, 138, 249);
  color: #fff;
  transition: background-color 0.2s ease-in-out;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: pink;
  margin-block: 0.3em;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(141, 215, 141);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(67, 171, 67);
}

h1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
  user-select: none;
}
button,
.show-zoom-value {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  cursor: pointer;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;

  margin: 25px;
  font-size: 16px;
  height: 48px;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-decoration: none;
}
.magni-cnt .show-zoom-value {
  text-align: center;
  margin-left: 130px;
}

button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

button:hover:after {
  transform: translate(0, 0);
}

button:active {
  background-color: #ffdeda;
  outline: 0;
}

button:hover {
  outline: 0;
}

.select-text-definition {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  margin-left: 10px;

}

@media (min-width: 768px) {
  button {
    padding: 0 40px;
  }
}
#about p {
  text-align: justify;

}
#rate-control {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}
#rate-control input{
  /* -webkit-appearance: none; */
  background: rgb(141, 215, 141);
  height: 8px;
  border-radius: 8px;
}
#rate::-webkit-slider-thumb{
  -webkit-appearance: none;
appearance: none;
height: 20px;
width: 20px;
border-radius: 50%;
background: rgb(252, 77, 106);
}
.magnifier {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.magnifier button {
  padding: 0 25px;
}
.magni-cnt,
.magni-cnt button {
  display: flex;
  align-items: center;
}
.magni-cnt button i {
  margin-right: 5px;
}
.show-zoom-value {
  /* width: 60px; */
  /* width: 100%;
  height: auto;
  padding: 20px; */
  padding: 10px 20px;
  margin-right: 0;
}
#magni {
  width: 100%;
}
.magnifier input{
  /* -webkit-appearance: none; */
  background: rgb(141, 215, 141);
  height: 8px;
  border-radius: 8px;
}
#magni::-webkit-slider-thumb{
  -webkit-appearance: none;
appearance: none;
height: 20px;
width: 20px;
border-radius: 50%;
background: rgb(252, 77, 106);
}
.dark-mode {
  background-color: #fff;
  color: #000;
}

* {
  box-sizing: border-box;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 80px;
  height: 25px;
  background-color: #111;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
  cursor: pointer;
  margin-top: 0.75em;
  margin-left: 0.75em;

}
.label span{
  font-size: 8px;
  color: white;
  margin-left: 20px;
  margin-top: 1px;
  transition: transform 0.2s linear;
}
.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(56px);
}

.checkbox:checked + .label span {
  transform: translateX(-20px);
}
.speaker {
  cursor: pointer;
  display: contents;
  user-select: none;
}
#fontChange {

display: flex;
justify-content: flex-end;
margin-top:20px;


}
.dropDown{
   background-color: #ffdeda;
   border-radius: 8px !important;
}
.convertBtns{
  display: flex;
}
#upper-case-btn, #lower-case-btn {
  margin: 10px !important;
  padding: 0 14px !important;
}
