* {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0px;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  /* border: 2px solid red; */
  box-sizing: border-box;
  background-color: transparent;
}
body {
  padding-top: 20px;
  background: linear-gradient(#383cc1, #5a20cb);
  color: white;
  height: max-content;
  width: 100%;
}
/* conatiner is a div told the image and text in it  */
.container {
  max-width: 1400px;
  margin: auto;
}
.main {
  width: 100%;
  display: inline-block;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.container .imageHolder {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .imageHolder img {
  height: 80%;
  width: 80%;
}

.container .textHolder {
  width: calc(100% - 350px);
  margin: auto;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* changing the styles of all other sections containing the buttons */
.sectionHolder {
  height: max-content;
  width: 100%;
}
.sectionHolder .header {
  padding: 10px 0px 10px 25px;
  width: 60%;
}
section {
  margin: 40px 0px 60px 0px;
}
.btnHolder {
  width: 100%;
}
button {
  align-items: center;
  background-color: #e03b8b;
  cursor: pointer;
  border-radius: 8px;
  color: white;
  font-weight: 800;
  margin: 15px 25px;
  font-size: 17px;
  padding: 12px 25px;
  position: relative;
  border: none;
  outline: none;
  box-shadow: 2px 2px 5px white;
}

button:hover {
  background-color: white;
  color: #383cc1;
  transform: scale3d(1.2, 1.2, 10);
  transition: all ease-in 0.2s;
}

button:active {
  background-color: #383cc1;
  color: white;
  outline: 0;
}

button:hover {
  outline: 0;
}

/* special logic for color blocks */
#hideIt {
  visibility: hidden;
}
form input {
  margin-left: 30px;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: #5a20cb;
  margin-block: 0.3em;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

.select-text-definition {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  margin-left: 10px;
}

#rate-control {
  display: inline-block;
  margin: 15px 25px;
}

/* //code for responsiveness */
@media only screen and (max-width: 900px) {
  .container .textHolder {
    width: 100%;
    padding: 20px;
    margin: auto;
    height: max-content;
    display: block;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 650px) {
  .main {
    width: 100%;
    display: block;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .container .imageHolder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .textHolder {
    width: 100%;
    padding: 20px;
    margin: auto;
    height: max-content;
    display: block;
    justify-content: center;
    align-items: center;
  }
}

/* <!-- This page is contributed by priyanshu singh -->
<!-- reach me at : https://www.linkedin.com/in/priyanshu-singh-5a74a6211/ --> */
