/* 

console.log(chrome.runtime.getURL("assets/fonts/")); 
Run this code after adding the extension to chrome to get the path to the font file
*/
@font-face {
    font-family: 'Calibri';
    src: url('chrome-extension://__MSG_@@extension_id__/assets/fonts/calibre/CalibreRegular.otf') format('opentype');
}
@font-face {
    font-family: 'OpenDyslexic';
    src: url('chrome-extension://__MSG_@@extension_id__/assets/fonts/OpenDyslexic-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('chrome-extension://__MSG_@@extension_id__/assets/fonts/OpenSans-Regular.otf') format('opentype');
}
